

.navbar {
  background-color: darkred;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pageTitle {
  padding: 10px;
  float: left;
}
.titleText {
  color: white;
}
.year {
  padding : 10px;
  float: right;
  color:white;
}
  /* Change the link color to #111 (black) on hover */
.year:hover {
  background-color: #111;
}