$christmasDarkGreen: #003e1f;
$christmasLightGreen: #568d66;
$christmasLightRed: #cb0b0a;
$christmasDarkRed: #8e0413;
$christmasWhite: #f3f4f6;

.navbar {
  background-color: $christmasDarkRed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.pageTitle {
  padding: 10px;
  float: left;
}
.titleText {
  color: $christmasWhite;
}
.year {
  padding : 10px;
  float: right;
  color:$christmasWhite;
}
  /* Change the link color to #111 (black) on hover */
.year:hover {
  background-color: #111;
}