
{{#if this.calendarManager.calendarDisplayed}}
<h1>{{this.calendarManager.calendarDisplayed}}</h1>
    <GridStack @options={{hash column=7 row=4 staticGrid=true}}>
        <GridStackItem @options={{hash x=0 y=0 w=1 h=1}}>
            <h3>1</h3>
        </GridStackItem>
    </GridStack>
{{/if}}