<ul class="navbar">
  <li class="pageTitle">
  <h1 class="titleText">Advent of Code</h1>
  </li>
  <li class="yearButton">
  <p class="year"{{on "click" (fn this.displayCalendar '2018')}}>2018</p>
  </li>
  <li class="yearButton">
  <p class="year" {{on "click" (fn this.displayCalendar '2019')}}>2019</p>
  </li>
  <li class="yearButton">
  <p class="year" {{on "click" (fn this.displayCalendar '2020')}}>2020</p>
  </li>
  <li class="yearButton">
  <p class="year" {{on "click" (fn this.displayCalendar '2021')}}>2021</p>
  </li>
</ul>