<ul class="navbar">
  <li class="pageTitle">
  <h1 class="titleText">Advent of Code</h1>
  </li>
  <li class="yearButton">
  <button class="year" type="button" {{on "click" (fn this.displayCalendar '2018')}}>2018</button>
  </li>
  <li class="yearButton">
  <button class="year" type="button" {{on "click" (fn this.displayCalendar '2019')}}>2019</button>
  </li>
  <li class="yearButton">
  <button class="year" type="button" {{on "click" (fn this.displayCalendar '2020')}}>2020</button>
  </li>
  <li class="yearButton">
  <button class="year" type="button" {{on "click" (fn this.displayCalendar '2021')}}>2021</button>
  </li>
</ul>