<div class="candycane">
                        a
                        a
                        a
                        a




                  _....._
               .-::.  ':::-.
             .:.  '::. '::. '.
            /'::.  _::._::.  :\
           ;.  '::'`    `:' .::\
           |::.  /        \.::'|
           | '::.|         |' .|
           |.  ':|         |.::/
           |::.  |        /__.'
           | '::.|
           |.  ':|
           |::.  |      
   /`""-._ |_'::.| _.-''`\
  |    .__'/    `\'_.     |
  |     .-|       |--.    |
  |      _.\     /._      |
   \_..-'  /`\--'\  `-.._/
          /  |    \
          |  |     |
          /  ;      \
         /    \      \
        |     ;-.____/
        \____/::.|
           |.  ':|
           |::.  |
           | '::.|
           |.  ':|
           |::.  |
           | '::.|
           '-..:-'



                        
</div>