<div class="elf">
                        a
                        a
                        a
                        a



             .-"""-.
           /`   .--.\
          ;   .'  .-:|
          |._.|_._|  ()
         /\// \\\\/\      .:::.
        < //0   0\\ >    _\d8b/_
         `\   >   /`    | \ \ \ |
          _\ '=' /_     |\ \ \ \|
        /`||`---`||`\   |_\_\_\_|
       /\ |\_____/| /\    \_|/
      /\ \/       \/ /\  /\-'
     /\ /|    o    |\ /\/\/
     \-< |         | \ /|/
      \/\|    o    |  `"`
       \/\         |
        /|\   o    |
         `;-------;'
          |   |   |
          \___T___/
           |==|==|
    jgs    |==|==|
        o  |==|==|  o
       /(__/._T_.\__)\
       \     | |     /
        `""""` `""""`





                        
</div>