<div class ="ornaments">
                        a
                        a



                  __
                 (  '.  _ ___
          ____        `C_}   '.
        .'    '.      /`#      \
       / #      \_    |        |
       |       {_{c}  \        /
       \        / `\   '.____.'
   jgs  '.____.' (__)
</div>