<div class="snowflakes">

                     *  .  *
                   . _\/ \/_ .
                    \  \ /  /             .      .   
      ..    ..    -==&gt;: X :&lt;==-           _\/  \/_
      '\    /'      / _/ \_ \              _\/\/_
        \\//       '  /\ /\  '         _\_\_\/\/_/_/_
   _.__\\\///__._    *  '  *            / /_/\/\_\ \
    '  ///\\\  '                           _/\/\_
        //\\                               /\  /\ 
      ./    \.             ._    _.       '      '
      ''    ''             (_)  (_)                  &lt;&gt; \  / &lt;&gt;
                            .\::/.                   \_\/  \/_/ 
           .:.          _.=._\\//_.=._                  \\//
      ..   \o/   ..      '=' //\\ '='             _&lt;&gt;_\_\&lt;&gt;/_/_&lt;&gt;_
      :o|   |   |o:         '/::\'                 &lt;&gt; / /&lt;&gt;\ \ &lt;&gt;
       ~ '. ' .' ~         (_)  (_)      _    _       _ //\\ _
           &gt;O&lt;             '      '     /_/  \_\     / /\  /\ \
       _ .' . '. _                        \\//       &lt;&gt; /  \ &lt;&gt;
      :o|   |   |o:                   /\_\\&gt;&lt;//_/\
      ''   /o\   ''     '.|  |.'      \/ //&gt;&lt;\\ \/
           ':'        . ~~\  /~~ .       _//\\_
                      _\_._\/_._/_      \_\  /_/ 
                       / ' /\ ' \                   \o/
       o              ' __/  \__ '              _o/.:|:.\o_
  o    :    o         ' .'|  |'.                  .\:|:/.
    '.\'/.'                 .                 -=&gt;&gt;::&gt;o&lt;::&lt;&lt;=-
    :-&gt;@&lt;-:                 :                   _ '/:|:\' _
    .'/.\'.           '.___/*\___.'              o\':|:'/o 
  o    :    o           \* \ / */                   /o\
       o                 &gt;--X--&lt;
                        /*_/ \_*\
                      .'   \*/   '.
                            :
                            '

</div>