<div class="stockingHearth">
                        a
                        a
                        a
                        a




            _.._
          .::::::.
         ::'    '::
         ::.    .::  
         `:(&gt;()&lt;):'
          , //\\ ,
        , # /  \ # ,
     ___#_#______#_#___ 
    [__________________]
     |=_/\ /\ /\ /\  =|
     |- \ \\ \\ \\ \_-|
     |=-(_/(_/(_/(_/_=|
     |_.------------.=|
     |=| o        o |=|
    _|-| !   `(   ! |-|_
   /==_| ! _(_.)_ ! |=_-\
   | _=|/^\^=^^=^/^\| _=|



                        
</div>