<div class="stocking">
                        a
                        a
                        a
                        a



      [IIIII]
    [IIIII]=|
    |=====|=|
    |=====| |
    |     | |
    |     | |
    |     | ;
    |     ;  \
    |`'.   \  \
    \  ;    \  \
     \'      \.'|
      \    .'|_/
 jgs   '._:_/




                        
</div>