<div class="tree">
<pre>
<font color="yellow">
                 /\
                <  >
                 \/</font>
<font color="darkgreen">
                 /\
                /  \
               /<font color="white">++++</font>\
              /  <font color="red">()</font>  \
              /      \
             /<font color="red">~`~`~`~`</font>\
            /  <font color="white">()</font>  <font color="red">()</font>  \
            /          \
           /<font color="white">*&*&*&*&*&*&</font>\
          /  <font color="red">()  <font color="white">()</font>  ()</font>  \
          /              \
         /<font color="red">++++++++++++++++</font>\
        /  <font color="white">()  <font color="red">()</font>  ()  <font color="red">()</font></font>  \
        /                  \
       /<font color="white">~`~`~`~`~`~`~`~`~`~`</font>\
      /  <font color="red">()  <font color="white">()</font>  ()  <font color="white">()</font>  ()</font>  \
      /                      \
     / <font color="red">*&*&*&*&*&*&*&*&*&*&*&</font> \
    /,.,.,.,.,.,.,.,.,.,.,.,.,.\
</font><font color="brown">
               |   |</font><font color="darkred">
              |`````|
              \_____/</font>
        </pre></div>