<div class="tree">
<font class="treeStar">                            
                /\
               &lt;  &gt;
                \/</font>
                <font class="treeBody">/\
               /  \
              /<font class="whiteOrn">++++</font>\
             /  <font class="redOrn">()</font>  \
             /      \
            /<font class="redOrn">~`~`~`~`</font>\
           /  <font class="whiteOrn">()</font>  <font class="redOrn">()</font>  \
           /          \
          /<font class="whiteOrn">*&*&*&*&*&*&</font>\
         /  <font class="redOrn">()  <font class="whiteOrn">()</font>  ()</font>  \
         /              \
        /<font class="redOrn">++++++++++++++++</font>\
       /  <font class="whiteOrn">()  <font class="redOrn">()</font>  ()  <font class="redOrn">()</font></font>  \
       /                  \
      /<font class="whiteOrn">~`~`~`~`~`~`~`~`~`~`</font>\
     /  <font class="redOrn">()  <font class="whiteOrn">()</font>  ()  <font class="whiteOrn">()</font>  ()</font>  \
     /                      \
    / <font class="redOrn">*&*&*&*&*&*&*&*&*&*&*&</font> \
   /,.,.,.,.,.,.,.,.,.,.,.,.,.\</font>
             <font color="brown">|   |</font>
            |<font class="darkRedOrn">`````</font>|
            \_____/
</div>