<div class="wreath">
                        a
                        a
                        a
                        a



           ,....,
        ,;;:o;;;o;;,
      ,;;o;'''''';;;;,
     ,;:;;        ;;o;,
     ;o;;          ;;;;
     ;;o;          ;;o;
     ';;;,  _  _  ,;;;'
      ';o;;/_\/_\;;o;'
  jgs   ';;\_\/_/;;'
           '//\\'
           //  \\
          |/    \|




                        
</div>