<div class="candycane">
                  _....._
               .-<font class = "stripe">::.  ':::</font>-.
             .<font class = "stripe">:.  '::. '::. '</font>.
            /<font class = "stripe">'::.  _::._::.  :</font>\
           ;<font class = "stripe">.  '::'`    `:' .::</font>\
           |<font class = "stripe">::.  </font>/        \<font class = "stripe">.::'</font>|
           |<font class = "stripe"> '::.</font>|         |<font class = "stripe">' .</font>|
           |<font class = "stripe">.  ':</font>|         |<font class = "stripe">.::</font>/
           |<font class = "stripe">::.  </font>|        /__.'
           |<font class = "stripe"> '::.</font>|
           |<font class = "stripe">.  ':</font>|
           |<font class = "stripe">::.  </font>|      
   <font class = "bow">/`""-._ </font>|_<font class = "stripe">'::.</font>|<font class = "bow"> _.-''`\
  |    .__'/    `\'_.     |
  |     .-|       |--.    |
  |      _.\     /._      |
   \_..-'  /`\--'\  `-.._/
          /  |    \
          |  |     |
          /  ;      \
         /    \      \
        |     ;-.____/
        \____/</font><font class = "stripe">::.</font>|
           |<font class = "stripe">.  ':</font>|
           |<font class = "stripe">::.  </font>|
           |<font class = "stripe"> '::.</font>|
           |<font class = "stripe">.  ':</font>|
           |<font class = "stripe">::.  </font>|
           |<font class = "stripe"> '::.</font>|
           '-..:-'

</div>