<div class="treeWithPresents">
                        a
                        a
                        a
                        a

&lt;


                                 |
                               \ ' /
                             -- (*) --
                                &gt;*&lt;
                               &gt;0&lt;@&lt;
                              &gt;&gt;&gt;@&lt;&lt;*
                             &gt;@&gt;*&lt;0&lt;&lt;&lt;
                            &gt;*&gt;&gt;@&lt;&lt;&lt;@&lt;&lt;
                           &gt;@&gt;&gt;0&lt;&lt;&lt;*&lt;&lt;@&lt;
                          &gt;*&gt;&gt;0&lt;&lt;@&lt;&lt;&lt;@&lt;&lt;&lt;
                         &gt;@&gt;&gt;*&lt;&lt;@&lt;&gt;*&lt;&lt;0&lt;*&lt;
           \*/          &gt;0&gt;&gt;*&lt;&lt;@&lt;&gt;0&gt;&lt;&lt;*&lt;@&lt;&lt;
       ___\\U//___     &gt;*&gt;&gt;@&gt;&lt;0&lt;&lt;*&gt;&gt;@&gt;&lt;*&lt;0&lt;&lt;
       |\\ | | \\|    &gt;@&gt;&gt;0&lt;*&lt;0&gt;&gt;@&lt;&lt;0&lt;&lt;&lt;*&lt;@&lt;&lt;  
       | \\| | _(UU)_ &gt;((*))_&gt;0&gt;&lt;*&lt;0&gt;&lt;@&lt;&lt;&lt;0&lt;*&lt;
       |\ \| || / //||.*.*.*.|&gt;&gt;@&lt;&lt;*&lt;&lt;@&gt;&gt;&lt;0&lt;&lt;&lt;
       |\\_|_|&&_// ||*.*.*.*|_\\db//_               
       """"|'.'.'.|~~|.*.*.*|     ____|_
           |'.'.'.|   ^^^^^^|____|&gt;&gt;&gt;&gt;&gt;&gt;|
           ~~~~~~~~         '""""`------'


                        
</div>