<Navbar />
<GridStack @options={{hash column=6 row=3 staticGrid=true}}>
    <GridStackItem class="ascii" @options={{hash x=0 y=0 w=3 h=3}}>
            <Ascii />
    </GridStackItem>
    <GridStackItem @options={{hash x=3 y=0 w=3 h=4}}>
        <div class = "calendar">
            <Calendar />
        </div>
    </GridStackItem>
</GridStack>